<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>new Person</title>
</head>
<body>
<form th:method="POST"  th:action="@{/people}" th:object="${person}">
  <label for="fullName">Enter Full Name:</label>
  <input type="text" th:field="*{fullName}" id="fullName">
  <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
  <br>
  <label for="dob">Enter Date of Birth:</label>
  <input type="text" th:field="*{dob}" id="dob">
  <div style="color: red" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">Address error</div>
  <br>
  <input type="submit" value="Create!">
</form>
<a href="/">Back to main</a>
</body>
</html>